<!-- PAGE MAIN CONTENT -->
	<main class="main-content">

		<!-- section INTRO -->
		<section class="section-intro image-bg">
			<header class="section-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1>EDIT - Wrtie a Review</h1>
						</div>
					</div>
				</div>
			</header>
			<span class="color-overlay-gradient gradient1"></span>
		</section><!-- //section INTRO -->
		
		<!-- section CONTACT MAP -->
		<section class="section-contact-map no-padding">
			<div class="container">
				<!-- section content -->
				<div class="section-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="info-block" id="info-block-contact">
								<h2>Get Directions</h2>
								<p>Etiam elit felis, porta ut massa in, consectetur finibus nibh. 
								Vestibulum in efficitur velit. Proin mollis est in risus faucibus, 
								nec finibus mauris vehicula. 
								</p>
								
							</div>
						</div>
						<div class="col-md-8 col-sm-6">
							<div class="google-map" id="contact-map">
								
							</div>
						</div>
					</div>
				</div><!-- //section content -->
			</div>
		</section><!-- section CONTACT MAP -->
		
		<!-- section 404 -->
		
			<!-- section content -->
			<div class="section-content">
				<div class="col-md-6 col-md-offset-3">
					
					<%= form_for @restaurant do |f| %>
						<%= f.label :name %>
						<%= f.text_field :name %>
						<br><br>
						<%= f.label :description %>
						<%= f.text_area :description %>
						<br><br>
						<%= f.select :category_id, Category.all.map{ |f| [f.name, f.id]} %>
						<br><br>
						<%= f.label :address1 %>
						<%= f.text_field :address1 %>
						<br><br>
						<%= f.label :address2 %>
						<%= f.text_field :address2 %>
						<br><br>
						<%= f.label :city %>
						<%= f.text_field :city %>
						<br><br>
						<%= f.label :state %>
						<%= f.text_field :state %>
						<br><br>
						<%= f.label :zipcode %>
						<%= f.text_field :zipcode %>
						<br><br>
						<%= f.label :phone %>
						<%= f.text_field :phone %>
						<br><br>
						<%= f.label :email %>
						<%= f.text_field :email %>
						<br><br>
						<%= f.file_field :image %> 
						<br><br><br>
						<%= f.submit %>
					<% end %>
				
		<hr>
		
		
		

	
	</main><!-- //PAGE MAIN CONTENT -->

	
	<!-- HIDDEN ELEMENTS -->
	<div class="hidden">

	</div><!-- //HIDDEN ELEMENTS -->

	<!-- SCRIPTS -->
	<script src="js/modernizr.js"></script>
	<script src="libs/jquery/jquery-1.11.2.min.js"></script>
	<script src="js/plugins-scroll.js"></script>
	<script src="libs/waypoints/lib/waypoints.js"></script>
	<script src="js/jquery.counterup.js"></script>
	<script src="js/imagesloaded.pkgd.js"></script>
	<script src="libs/bootstrap/js/bootstrap.js"></script>
	<script src="libs/bootstrap-slider/bootstrap-slider.js"></script>
	<script src="js/jquery.equalheights.js"></script>
	<script src="libs/masonry-layout/dist/masonry.pkgd.js"></script>
	<script src="libs/magnific-popup/dist/jquery.magnific-popup.js"></script>
	<script src="js/common.js"></script>

	<!-- PAGE CUSTOM SCRIPTS -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script>
		var locations = [
		['Bondi Beach', -33.890542, 151.274856, 4],
		];

		var map = new google.maps.Map(document.getElementById('contact-map'), {
			zoom: 16,
			center: new google.maps.LatLng(-33.890542, 151.274856),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var infowindow = new google.maps.InfoWindow();

		var marker, i;

		for (i = 0; i < locations.length; i++) {  
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(locations[i][1], locations[i][2]),
				map: map
			});

			google.maps.event.addListener(marker, 'click', (function(marker, i) {
				return function() {
					infowindow.setContent(locations[i][0]);
					infowindow.open(map, marker);
				}
			})(marker, i));
		}
	</script>
	<script>
		$(document).ready(function() {
			$('#info-block-contact, #contact-map').equalHeights();
		});
	</script>
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
		